body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

.gradient-background {
  position: relative;
  height: 100vh;
  background: linear-gradient(to bottom left, #3a0c3adc, #914991, #6d396a, #23215b );
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-bottom: -100vh;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button1{
  background-color: #292228;
  border: none;
  border-radius: 40px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 15px;
  margin: 0 10px;
  transition: background-color 0.3s, border-radius 0.3s; /* Add transition */
}

.button1:hover{
  background-color: #a2a9bd;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 42%;
  left: 80%;
  transform: translateX(-50%);
}

.button-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button-list li {
  margin: 10px;
}

.button2 {
  background-color: #d8e2ff;
  border: none;
  border-radius: 40px;
  color: #000000;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s, border-radius 0.3s; /* Add transition */
}

.button2:hover {
  background-color: #a2a9bd;
  border-radius: 10px;
}

#logocenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 20%;
  width: 400px
}

#fileList {
  margin-top: 100vh; /* Adjust this value to control the space between the header and the dynamic content */
}

.fileList {
  text-align: left;
}

.fileItem {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
}

#modeSwitch {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}